 @charset "utf-8";

/*

	Portfolio

   Filename: projects.css
   
   This file contains the layout styles used for the Portfolio
   
   Any crediting will go here: 

*/ 
/*HTML and Body Styles*/
body{
	padding-right:30px;
}





/*Article Styles*/
article{
	padding-bottom: 3px;
	color: hsl(120, 100%, 90%);
	text-shadow: 2px 2px hsl(120, 100%, 10%);
}




/*Section Styles*/
img#web1{
	padding:5px;
}
img#web2{
	padding:5px;
}
img#web3{
	padding:5px;
}
img#web4{
	padding:5px;
}