 @charset "utf-8";

/*

	Portfolio

   Filename: community.css
   
   This file contains the layout styles used for the Portfolio
   
   Any crediting will go here: Seth helped me with the body

*/

/*HTML  and Body Styles*/
body{
	padding-bottom:400px;
}
 
/*Section Styles*/
	nav#comm ul li a {
		color:hsl(180, 20%, 40%);
		display: block;
		width: 100%;
}
	nav#comm ul li a:hover {
		color: white;
		background-color: hsl(180, 20%, 40%);
}
	section h1{
		font-family:cour;
		src: url(cour.ttf);
		font-size:1.8em;
	}
