 @charset "utf-8";

/*

	Portfolio

   Filename: edu.css
   
   This file contains the layout styles used for the Portfolio
   
   Any crediting will go here: 
	
*/


/* HTML and Body Styles */ 



/*Navigation Styles*/



/*Section Styles*/
 /*got this code from:https://stackoverflow.com/questions/2717127/css3-gradient-borders*/
section#FHC h1{
display: inline-block;
  width: 200px;
  height: 60px;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(45deg, rgb(0, 51, 153), rgb(153, 153, 153));
  background: -webkit-linear-gradient(45deg,rgb(0, 51, 153), rgb(153, 153, 153));
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 4px solid transparent;
  border-radius: 8px;
  color:hsl(0, 0%, 15%);
  box-shadow: 9px 9px 5px hsl(180, 20%, 50%);
  
}
section#LC h1{
display: inline-block;
  width: 200px;
  height: 80px;
  background: -moz-linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 0, 0));
  background: -webkit-linear-gradient(45deg,rgb(255, 0, 0), rgb(0, 0, 0));
  -moz-background-origin: border;
  background-origin: border-box;
  border: 4px solid transparent;
  border-radius: 8px;
  color:hsl(0, 0%, 90%);
  box-shadow: 9px 9px 5px hsl(0, 50%, 50%);
}

section#FHC img, section#LC img{
	padding-left: 25px;
	padding-top: 30px;
	padding-bottom:auto;
	padding-right:auto;
	
}
section p{
	font-size: 1.3em;
	font-family:arial;
	src: url(arial.ttf);
}
  
  
  